[submodule "NetworkingModule"]
	path = NetworkingModule
	url = https://github.com/filip-wag/NetworkingModule.git
	branch = master
[submodule "CommonModule"]
	path = CommonModule
	url = https://github.com/filip-wag/CommonModule.git
	branch = master
[submodule "ComponentModule"]
	path = ComponentModule
	url = https://github.com/filip-wag/ComponentModule.git
	branch = master
